# Ignore third-party frontend assets
user/static/assets/vendors/** linguist-vendored

# Ignore generated assets
*.min.css linguist-vendored
*.min.js linguist-vendored
*.map linguist-vendored

# Ignore fonts
*.woff linguist-vendored
*.woff2 linguist-vendored
*.ttf linguist-vendored
*.eot linguist-vendored

# Ignore SVG flags
user/static/assets/vendors/flag-icon-css/** linguist-vendored