<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission-Seth Anandram Jaipuria Schhol - Barabanki</title>
    <style>
        ul li{
            list-style-type: none;
        }
    </style>
</head>
<body>
    {% extends 'parent.html' %}
    {%load static%}
    <!-- Slider Start -->
     {% block text %}
        ADMISSION </p>
        <h2 class="text-white">Admission </h2>
        <hr style="background-color: rgb(75, 143, 245); height: 1vh; width: 23vh; opacity: 1; border: 0px solid transparent;">    
        {%endblock%}
    <!-- Slider End -->
     <!-- Main Start -->
      {%block body%}
        <div class="row " style="background-color: rgb(243, 237, 237);">
            <div class="col-sm-10 mx-auto">
                <div class="row mt-5 mb-2">
                    <div class="col-sm-6">
                        <h3 class="fw-bold" data-aos="fade-up">REGISTRATION PROCEDURE AND RULES </h3>
                    </div>
                    <div class="col-sm-6">
                       <a href="{%static 'enquiry-form.pdf' %}" target="_blank"> <button type="download" class="btn btn-danger"   data-aos="zoom-in"> Download Enquiry Form</button></a>
                        &nbsp;
                         <a href=""><button type="download"  class="btn btn-primary" data-aos="zoom-in"><a href="{%static 'admission.pdf' %}" target="_blank" class="nav-link">Download Admission Form</a></button></a>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-sm-12">
                        <div class="rule mt-3" style="display: flex;">
                            <i class="fa-regular fa-circle-check fs-4 me-3  " style="color: #b64545;"></i>
                            <p class="text-muted">Registration Forms are to be filled in and submitted to the School Office before the end of the Registration period..</p>
                        </div>  
                        <div class="rule mt-2" style="display: flex;">
                            <i class="fa-regular fa-circle-check fs-4 me-3 " style="color: #b64545;"></i>
                            <p class="text-muted">Incomplete or illegible Registration Forms, without photographs will not be processed / accepted.</p>
                        </div>  
                        <div class="rule mt--2" style="display: flex;">
                            <i class="fa-regular fa-circle-check fs-4 me-3 mt-2 " style="color: #b64545;"></i>
                            <p class="text-muted">
                                Dates for test / interviews / interaction will be given at the time of registration. The school authorities reserve the right to change the date and time of the interview.</p>
                        </div>   
                        <div class="rule mt-2" style="display: flex;">
                            <i class="fa-regular fa-circle-check fs-4 me-3 mt-2 " style="color: #b64545;"></i>
                            <p class="text-muted">
                                Mere issue of form of registration does not confirm admission which is subject to Admission Test / Interviews / Interaction and also to the availability of seats.
                                </p>
                        </div>  
                        <div class="rule mt-2" style="display: flex;">
                            <i class="fa-regular fa-circle-check fs-4 me-3 mt-2" style="color: #b64545;"></i>
                            <p class="text-muted">
                                Photo copy of Birth Certificate issued by Municipal Corporation or concerned civic authority must accompany the Registration Form for classes Pre-Nursery, Nursery and Prep. Photocopy of report card of the last exam passed must be attached with the Registration Form for Classes I & above.</p>
                        </div>
                        <div class="rule mt-2 mb-2" style="display: flex;">
                            <i class="fa-regular fa-circle-check fs-4 me-3 mt-3 " style="color: #b64545;"></i>
                            <p class="text-muted">Age of admission to class Pre-nursery is 3+ years and class 1st is 6+ years on 1st April of the academic session in which admission is being sought. Age should be properly specified in the form. Request for relaxation of age criterion will not be entertained.</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <h2 class="fw-bold" data-aos="fade-down">ADMISSION PROCEDURE </h2>
                        <ul class="my-4"><h4 style="font-weight: 400;" data-aos="fade-right">Entrance Assessments /Interviews</h4>
                        <li >
                            <div class="rule mt-3" style="display: flex;">
                                <i class="fa-regular fa-circle-check fs-4 me-3  " style="color: #b64545;"></i>
                                <p class="text-muted">There will be a written assessment for the students seeking admission to Class I onwards.</p>
                            </div>  
                           
                        </li>
                        <li > 
                            <div class="rule mt-2" style="display: flex;">
                            <i class="fa-regular fa-circle-check fs-4 me-3 " style="color: #b64545;"></i>
                            <p class="text-muted">
                                Results will be displayed on the Notice Board on the dates specified.</p>
                        </div>
                     </li>
                    </ul>
                    <ul>
                        <h4 style="font-weight: 400;" data-aos="fade-right">Admission Formalities
                        </h4>
                        <li>
                            <div class="rule mt-4" style="display: flex;">
                                <i class="fa-regular fa-circle-check fs-4 me-3 my-2" style="color: #b64545;"></i>
                                <p class="text-muted">Successful candidates whose names are included in the list must pay the fees by the dates indicated on the list displayed on the School Notice Board; otherwise admission will automatically stand cancelled.</p>
                            </div> 
                        </li>
                        <li>
                            <div class="rule mt-2" style="display: flex;">
                                <i class="fa-regular fa-circle-check fs-4 me-3 my-3" style="color: #b64545;"></i>
                                <p class="text-muted">The date of birth of child is required to be supported by the birth certificate in original issued by the Municipal Corporation / Local bodies as applicable, along with a certified photostat copy thereof. An affidavit or any other evidence is not acceptable in support of birth certificate. It is to be attached with the Admission Form for Classes Pre-Nursery, Nursery and Prep.</p>
                            </div> 
                        </li>
                        <li>
                            <div class="rule mt-2" style="display: flex;">
                                <i class="fa-regular fa-circle-check fs-4 me-3 " style="color: #b64545;"></i>
                                <p class="text-muted">
                                    For Class I & above, Transfer Certificate is to be attached.
                                    </p>
                            </div> 
                        </li>
                        <li>
                            <div class="rule mt-2" style="display: flex;">
                                <i class="fa-regular fa-circle-check fs-4 me-3 " style="color: #b64545;"></i>
                                <p class="text-muted">For Class V & above, Transfer Certificate must be countersigned by the concerned State Education Authority in case of change of state.</p>
                            </div> 
                        </li>
                        <li>
                            <div class="rule mt-2" style="display: flex;">
                                <i class="fa-regular fa-circle-check fs-4 me-3 " style="color: #b64545;"></i>
                                <p class="text-muted">The admit card will be issued to parents only after the form is duly filled and the registration formalities are completed.</p>
                            </div> 
                        </li>
                        <li>
                            <div class="rule mt-2" style="display: flex;">
                                <i class="fa-regular fa-circle-check fs-4 me-3 " style="color: #b64545;"></i>
                                <p class="text-muted">
                                    Your ward has to report in complete School Uniform, along with books and stationery as prescribed by the school on the very first day.</p>
                            </div> 
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
      {%endblock%}
     <!-- Main End -->
</body>
</html>