<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fee Structure - Seth Anandram Jaipuria - Barabanki</title>
</head>
<body>
    {% extends 'parent.html' %}
    {% load static %}
    <!-- Slider Start -->
     {% block text %}
        FEE STRUCTURE </p>
        <h2 class="text-white">Fee Structure</h2>
        <hr style="height: 1vh; width: 30vh; background-color: rgb(69, 194, 252); opacity: 1; border: 0px solid transparent;">

     {%endblock%}
    <!-- Slider End -->

    <!-- Main Start -->
     {%block body%}
     <div class="row my-4">
        <div class="col-sm-10  mx-auto">
            <div class="col-sm-4 mx-auto">
            <img src="{%static 'img/fee.jpg' %}" data-aos="zoom-out" alt="">
            <br>
           <a href="{%static 'fee.pdf' %}"> <button type = "download"class="btn btn-primary w-100 py-3" style="box-shadow: 0px 0px 3px 0px rgb(3, 3, 146);" >Download Fee Structure 2024-25</button></a>
        </div>
        </div>
     </div>
     {%endblock%}
    <!-- Main End -->
</body>
</html>