
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seth Anandram Jaipuria School &#8211; Sadhu Campus, Barabanki</title>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  
</head>
<body>
  {%extends 'parent.html'%}
  {%load static%}

{%block slider%}

{%endblock%}



{%block body%}

<!-- Slider Start -->
 <div class="row bg-danger">
    <div class="col-sm-12 p-0">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner " style="height: 70vh;">
              <div class="carousel-item active h-100">
                <img src="{%static 'img/Web-Banner-Partner-School.jpg'%}" class="d-block w-100 h-100" alt="...">
              </div>
             
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div class="col-sm-12 text-center pt-2 ">
        <p class="text-light fw-bold" data-aos="fade-up">TO KNOW  ADMISSION PROCESS, CALL – 9044554046, 9044554045</p>
    </div>
 </div>
 <!-- Slider End -->
  <!-- Welcome Start -->
   <div class="row my-3">
    <div class="col-sm-12 ">
        <h2 class="text-center" style="font-weight: 700;" data-aos="zoom-in">Welcome to Seth Anandram Jaipuria School, Sadhu Campus 
            <br>
            - Barabanki</h2>

    </div>
    <div class="col-sm-10 mx-auto my-3">
        <div class="row row-cols-1  row-cols-md-2 g-4">
            <div class="col">
              <div class="card border-0 " data-aos="fade-up">
                <iframe class="w-100" style="height: 50vh;"  src="https://www.youtube.com/embed/M1156iKJgNo?si=I7RocwDQDUPo21dg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text " style="font-size: 17px; text-align: justify;">We, at <span class="fw-bold"> Seth Anandram Jaipuria School, Sadhu Campus - Barabanki</span>, are committed to our motto <span class="fw-bold">‘Empower, Enthuse and Excel’</span> in providing quality education and teaching every child the necessary values to guide him/her through the journey of life. The school endows education for LIFE! Our prime mission is to create opportunities through a stimulating, safe, collaborative, and supportive environment that help student in attaining personal mastery, team spirit, and academic excellence.</p>
                </div>
              </div>
            </div>
            <div class="col ">
              <div class="card rounded-0 " data-aos="fade-up">
                <img src="{%static 'img/c1.jpeg'%}"  class="card-img-top " alt="...">
                <div class="card-body">
                  <h5 class="card-title text-primary"><a class="text-decoration-none" href="">Synopsis of Summer Camp Activities and Closing Ceremony</a></h5>
                  <p class="card-text text-muted"><br><br><br>...</p>
                </div>
              </div>
            </div>
           
          </div>
          <hr>
        </div>
         <div class="col-sm-10 mx-auto my-3">
            <div class="row row-cols-1 row-cols-md-2 g-4 ">
                <div class="col" >
                  <div class="card border-0 "  data-aos="zoom-in-right">
                    <img src="{%static 'img/primary.png'%}" class="card-img-top rounded-0" alt="...">
                    <div class="card-body">
                      <h5 class="card-title" style="font-weight: 700;">PRE-PRIMARY & PRIMARY SCHOOL</h5>
                      <br>
                      <p class="card-text">The goal of education is not to increase the amount of knowledge but to create the possibilities for a child to invent and discover, to create individuals who are capable of doing.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card border-0" data-aos="zoom-in-left" >
                    <img src="{%static 'img/middle.png'%}" class="card-img-top rounded-0" alt="...">
                    <div class="card-body">
                      <h5 class="card-title" style="font-weight: 700;">MIDDLE SCHOOL</h5> <br>
                      <p class="card-text">Student-centered teaching strategies focus instruction on the needs, preferences, and interests of the learner. Teachers act as facilitators of the learning process..</p>
                    </div>
                  </div>
                </div>
               
              </div>
        </div>
    
   </div>
   <!-- Welcome End -->
    <!-- Unique Feature Start -->
     <div class="row  py-5" style="background-size: cover; background-image: url({%static 'img/school.jpg'%});">
        <div class="col-sm-10 mx-auto text-white">
            <h3  >UNIQUE FEATURES</h3>
            <p>Seth Anandram Jaipuria School, Sadhu Campus – Barabanki</p>
            <div class="row mx-auto">
              <div class="col-sm-5">
                <ul data-aos="fade-right" style="list-style: none; color: #fff;">
                  <li class="list_cls"><i class="fa fa-angle-double-right" aria-hidden="true"></i>  Multipurpose Playground</li><br>
                  
                  <li class="list_cls"><i class="fa fa-angle-double-right" aria-hidden="true"></i>  RJ Studio</li> <br>
                  <li class="list_cls"><i class="fa fa-angle-double-right" aria-hidden="true"></i>  Computer Lab</li><br>
                  <li class="list_cls"><i class="fa fa-angle-double-right" aria-hidden="true"></i>  Art &amp; Craft room</li><br>
                  <li class="list_cls"><i class="fa fa-angle-double-right" aria-hidden="true"></i>  Composite Science Lab</li><br>
                  <li class="list_cls"><i class="fa fa-angle-double-right" aria-hidden="true"></i>  Music Room</li><br>
                  <li class="list_cls"><i class="fa fa-angle-double-right" aria-hidden="true"></i>  Dance Room</li><br>
                  <li class="list_cls"><i class="fa fa-angle-double-right" aria-hidden="true"></i>  Well Stocked Library</li><br>
                  </ul>
              </div>
              <div class="col-sm-5">
                <ul data-aos="fade-right"style="list-style: none; color: #fff;">
                  <li class="list_cls"><i class="fa fa-angle-double-right" aria-hidden="true"></i>  Monitored Surveillance &amp; Security</li> <br>
                  <li class="list_cls"><i class="fa fa-angle-double-right" aria-hidden="true"></i>  GPS tracked School buses</li> <br>
                  <li class="list_cls"><i class="fa fa-angle-double-right" aria-hidden="true"></i>  Outdoor Kids Play Zone</li> <br>
                  <li class="list_cls"><i class="fa fa-angle-double-right" aria-hidden="true"></i>  School Infirmary</li> <br>
                  <li class="list_cls"><i class="fa fa-angle-double-right" aria-hidden="true"></i>  Kids Activity Room</li> <br>
                  <li class="list_cls"><i class="fa fa-angle-double-right" aria-hidden="true"></i>  Badminton Court</li> <br>
                  <li class="list_cls"><i class="fa fa-angle-double-right" aria-hidden="true"></i>  Upcoming facilities: Basketball Arena *</li>
                  </ul>
              </div>
            </div>
        </div>
     </div>
     <!-- Unique Feature End  -->
      <!-- Admission Start -->
       <div class="row" style="background-size: cover; background-image: url({%static 'img/ad.jpg'%});">
        
        <div class="col-sm-6 text-center text-white pt-3" data-aos="fade-right">
          <div class="w-50 mx-auto text-center pt-3" style="border-left:4px solid rgb(107, 3, 3); background-color: rgba(86, 116, 252, 0.459);">
            <h4 >ADMISSION OPEN 2024-25</h4>
            <p>Seth Anandram Jaipuria School,Sadhu Campus, Barabanki</p>
          </div>

        </div>
        
        
        
      </div>
       <!-- Admission End  -->

    

       <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
       
<script>
  AOS.init();
</script>

{%endblock%}



</body>
</html>

