<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Room &#8211; Seth Anandram Jaipuria School &#8211; Sadhu Campus, Barabanki</title>
</head>
<body>
    {%extends 'parent.html'%}
    {%load static%}
    <!-- Slider Start -->
     {%block text%}
        MEDICAL ROOM </p>
        <h2 class="text-white">Medical Room</h2>
        <hr style="background-color: rgb(62, 164, 248); height: 1vh; width: 35vh; opacity: 1; border: 0px solid transparent;">
     {%endblock%}
    <!-- Slider End -->
     <!-- Main Start -->
      {%block body%}
            <div class="row my-5">
                <div class="col-sm-10 mx-auto">
                    <h2 data-aos = "fade-up"><strong>MEDICAL ROOM</strong></h2>
                    <p class="text-muted  my-3" style="text-align: justify; font-size: 20px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 300;" >We have an experienced doctor and a trained nurse to provide necessary first aid to the students in a time of emergency. An annual health check-up including dental and eye check-ups by specialists is a regular feature along with maintaining a medical record of each and every child. Health advisory on prevention of various illnesses like swine flu, dengue, chickenpox, etc. is also a regular feature.</p>
                </div>
        
              </div>
            <div class="row  pb-5" style="background-color: rgb(243, 242, 242);">
                <div class="col-sm-10 mx-auto mt-5">
                    <h4 data-aos = "fade-up"><b>Please Note</b></h4>
            <div class="rule mt-4" style="display: flex;">
                <i class="fa-regular fa-circle-check fs-3 me-3 " style="color: #b64545;"></i>
                <p class="text-muted">Students will be provided first aid only in the school premises in case of medical problem</p>
            </div>  
            <div class="rule mt-2" style="display: flex;">
                <i class="fa-regular fa-circle-check fs-3 me-3 " style="color: #b64545;"></i>
                <p class="text-muted">In case of chronic diseases, school will only inform the parents telephonically. Parents will be expected to reach school at the earliest.</p>
            </div>  
            <div class="rule mt--2" style="display: flex;">
                <i class="fa-regular fa-circle-check fs-3 me-3 mt-2 " style="color: #b64545;"></i>
                <p class="text-muted">
                    Expenses on first aid will be borne by the school. All other expenses in case of hospitalization/ visit to private clinic/ medicine will be borne by the parents.</p>
            </div>   
        </div>
      </div>
      {%endblock%}
     <!-- Main End -->

</body>
</html>