<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video gallery &#8211; Seth Anandram Jaipuria School &#8211; Sadhu Campus, Barabanki</title>
</head>
<body>
    {%extends 'parent.html'%}
    {%load static%}
    <!-- Slider Start -->
    {%block text%}
     Video gallery</p>
                
    
    <h2 class="text-white">Video gallery</h2>
    
    {%endblock%}
    <!-- Slider End -->
    <!-- Main Start -->
     {%block body%}
     <br><br><br>
     <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5" data-aos="zoom-in">
            <div class="col ">
                <div class="card" >
                  <iframe class="w-100"  src="https://www.youtube.com/embed/M1156iKJgNo?si=afxY49VDFFKiznKQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="height: 50vh;"></iframe>
                </div>
              </div>
        </div>
        <div class="col-sm-6"></div>
     </div>
     <br><br>
     {% endblock %}
</body>
</html>