<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Events &#8211; Seth Anandram Jaipuria School &#8211; Sadhu Campus, Barabanki</title>
</head>
<body>
  {%extends 'parent.html'%}
  {%load static%}
  <!-- Slider Start -->
{%block text%}
News Events</p>
           
<h2 class="text-white">News Events</h2>

{%endblock%}
<!-- Slider End -->
<!-- Main Start -->
{%block body%}

<div class="row">
  <div class="col-sm-10 mx-auto">
    <div class="row py-5">
      <div class="col-sm-5">
        <img src="{%static 'img/mn1.jpeg' %}" class="w-100 " data-aos="fade-right"
        data-aos-anchor-placement="top-center" alt="">
      </div>
      <div class="col-sm-7 my-auto" data-aos="fade-left" data-aos-anchor-placement="top-center">
        <h5> <b>Synopsis of Summer Camp Activities and Closing Ceremony</b></h5>
        <p style="text-align: justify;" class="text-muted"><b>Venue- Seth Anandram Jaipuria School Sadhu Campus Barabanki Time - 8.00am to 12.00pm Summer Camp Activities:</b> </p>
          <p style="text-align: justify;" class="text-muted"><b>Arts and Crafts:</b> Students explored their creativity through various projects, including Art and Craft. These activities helped enhance their artistic skills and provided a platform for self-expression. Sports and Recreation: A range of sports activities, such as basketball, Cone [...]</p>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-sm-7 my-auto" data-aos="fade-right"
      data-aos-anchor-placement="top-center">
        <h5> <b>Watermelon Party for Pre-Primary wing at Seth Anandram Jaipuria School Sadhu Campus Barabanki</b></h5>
       
          <p style="text-align: justify;" class="text-muted">Seth Anandram jaipuria school Sadhu Campus barabanki recently held a vibrant and exciting Watermelon Party for its young learners, aiming to celebrate summer and introduce the children to healthy eating habits in a fun and engaging way. Event Highlights Welcome and Introduction: The party began with a warm welcome by the teachers, who introduced the [...]</p>
        
      </div>
      <div class="col-sm-5" data-aos="fade-left" data-aos-anchor-placement="top-center">
       
          <img src="{%static 'img/mn2.jpeg' %}" class="w-100 "  alt="">
      </div>
    </div>
    <div class="row py-5">
      <div class="col-sm-5">
        <img src="{%static 'img/mn3.jpg' %}" class="w-100 " data-aos="fade-right"
        data-aos-anchor-placement="top-center" alt="">
      </div>
      <div class="col-sm-7 my-auto" data-aos="fade-left" data-aos-anchor-placement="top-center">
        <h5> <b>Mother’s Day Celebration 2024</b></h5>
        
          <p style="text-align: justify;" class="text-muted ">In the heart of a bustling school campus, a special celebration unfolds to honor the remarkable mothers within the school community. As Mother's Day approaches, students and teachers alike buzz with excitement, eagerly preparing for the festivities ahead. Classroom walls are adorned with colorful artwork and heartfelt messages, each one a testament to the love.</p>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-sm-7 my-auto" data-aos="fade-right"
      data-aos-anchor-placement="top-center">
        <h5> <b>Seth Anandram Jaipuria Group of Schools Receives ET Now Best Education Brands of 2024 Award</b></h5>
       
          <p style="text-align: justify;" class="text-muted">Seth Anandram Jaipuria Group of Schools has been honoured as one of the ET Now Best Education Brands of 2024, a prestigious recognition by The Times Group. This remarkable accolade was received with pride at the felicitation ceremony held in Mumbai, with Dr. Neeta Bali, Director Schools, representing our esteemed institution.</p>
        
      </div>
      <div class="col-sm-5" data-aos="fade-left" data-aos-anchor-placement="top-center">
       
          <img src="{%static 'img/mn4.jpeg' %}" class="w-75 "  alt="">
      </div>
    </div>
    <div class="row py-5">
      <div class="col-sm-5">
        <img src="{%static 'img/Day1.jpeg' %}" class="w-75" data-aos="fade-right"
        data-aos-anchor-placement="top-center" alt="">
      </div>
      <div class="col-sm-7 my-auto" data-aos="fade-left" data-aos-anchor-placement="top-center">
        <h5> <b>7th Jaipuria Annual School Leadership Conclave</b></h5>
        
          <p style="text-align: justify;" class="text-muted">Day 1 of the 7th Jaipuria Annual School Leadership Conclave of Seth Anandram Jaipuria Group of Schools in Varanasi, on January 28, 2024, was a resounding success! With insightful addresses from Chief Guest Prof. Santanu Kumar Swain, Director Schools – Dr. Neeta Bali, Director IT, Research, and HR – Mr. Harish Sanduja, and Ms. Tapasi.</p>
      </div>
    </div>
  </div>
  </div>

    <!-- <div class="col-sm-1"></div>
    <div class="col-sm-10 g-5" style="display: flex;">
        
        <div class="card mx-3" style= "width: 23rem; border: 0cap;">
            <img src="{% static 'img/mn.jpeg'%}" class="w-100" alt="..." style="height: 40vh; width: 40vh;" border-radius="0%">
            <div class="card-body">
              <h5 class="card-title">Synopsis of Summer Camp Activities and Closing Ceremony </h5>
              <p class="card-text"><br>Venue- Seth Anandram Jaipuria School Sadhu Campus Barabanki Time - 8.00am to 12.00pm Summer Camp Activities: Arts and Crafts: Students explored their creativity through various projects, including Art and Craft. These activities helped enhance their artistic skills and provided a platform for self-expression. Sports and Recreation: A range of sports activities, such as basketball, Cone [...]</p>
              <a href="#" class="btn btn-danger">Read more</a>
            </div>
          </div>
          
        <div class="card mx-3" style="width: 23rem;border: 0cap;">
            <img src="{% static 'img/mn2.jpeg'%}" class="w-100" alt="..." style="height: 40vh; width:40vh;">
            <div class="card-body">
              <h5 class="card-title">
                Watermelon Party for Pre-Primary wing at Seth Anandram Jaipuria School Sadhu Campus Barabanki
                </h5>
              <p class="card-text"><br>Seth Anandram jaipuria school Sadhu Campus barabanki recently held a vibrant and exciting Watermelon Party for its young learners, aiming to celebrate summer and introduce the children to healthy eating habits in a fun and engaging way. Event Highlights Welcome and Introduction: The party began with a warm welcome by the teachers, who introduced the [...]</p>
              <a href="#" class="btn btn-danger">Read more</a>
            </div>
          </div>         

          <div class="card mx-3" style="width: 23rem;border: 0cap;">
            <img src="{% static 'img/Mothers-Day-Celebration-15-1024x768.jpg'%}" class="card-img-top" alt="..." style="height: 50vh;border-radius: 0%;">
            <div class="card-body">
              <h5 class="card-title">Mother’s Day Celebration 2024</h5>
              <p class="card-text"><br>In the heart of a bustling school campus, a special celebration unfolds to honor the remarkable mothers within the school community. As Mother's Day approaches, students and teachers alike buzz with excitement, eagerly preparing for the festivities ahead. Classroom walls are adorned with colorful artwork and heartfelt messages, each one a testament to the love [...]</p>
              <a href="#" class="btn btn-danger">Read more</a>
            </div>
          </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<div class="row">

    <div class="col-sm-1"></div>
    <div class="col-sm-10 g-5" style="display: flex;">
        
        <div class="card mx-3" style="width: 23rem;border: 0cap;">
            <img src="{% static 'img/mn2.jpeg'%}" class="card-img-top" alt="..." style="height: 50vh;border-radius: 0%;">
            <div class="card-body">
              <h5 class="card-title">
                Seth Anandram Jaipuria Group of Schools Receives ET Now Best Education Brands of 2024 Award</h5>
              <p class="card-text"><br>Seth Anandram Jaipuria Group of Schools has been honoured as one of the ET Now Best Education Brands of 2024, a prestigious recognition by The Times Group. This remarkable accolade was received with pride at the felicitation ceremony held in Mumbai, with Dr. Neeta Bali, Director Schools, representing our esteemed institution. This award is a [...]</p>
              <a href="#" class="btn btn-danger">Read more</a>
            </div>
          </div>
          
        <div class="card mx-3" style="width: 23rem;border: 0cap;">
            <img src="{% static 'img/Day-1-1.jpeg'%}" class="card-img-top" alt="..." style="height: 50vh;border-radius: 0%;">
            <div class="card-body">
              <h5 class="card-title">
                7th Jaipuria Annual School Leadership Conclave
                </h5>
              <p class="card-text"><br>Day 1 of the 7th Jaipuria Annual School Leadership Conclave of Seth Anandram Jaipuria Group of Schools in Varanasi, on January 28, 2024, was a resounding success! With insightful addresses from Chief Guest Prof. Santanu Kumar Swain, Director Schools – Dr. Neeta Bali, Director IT, Research, and HR – Mr. Harish Sanduja, and Ms. Tapasi [...]

              </p>
              <a href="#" class="btn btn-danger">Read more</a>
              <br><br><br><br><br>
            </div>
          </div>         
          
    </div>
    <div class="col-sm-1"></div>
</div> -->

{% endblock %}
</body>
</html>