<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Prospectus - Seth Anandram Jaipuria School - Barabanki</title>
</head>
<body>
    {%extends 'parent.html' %}
    {% load static %}
    <!-- Slider Start -->
    {% block text %}
    DOWNLOAD PROSPECTUS </p>
    <h2 class="text-white">Download Prospectus</h2>
    <hr style="background-color: rgb(0, 153, 255); height: 1vh; width: 50vh; border: 0px solid transparent; opacity: 1;">

    {% endblock %}
<!-- Slider End -->
 <!-- Main Start -->
  {% block body %}
  <div class="row">
    <div class="col-sm-10 mx-auto">
    <div class="row my-4">
        <div class="col-sm-10 mx-auto">
            <p style="font-size: 20px;" data-aos="fade-down"><b>Download Prospectus of Seth Anandram Jaipuria School, Sadhu Campus – Barabanki</b></p>

        </div>
        <div class="row">
            <div class="col-sm-11 mx-auto">
                <p style="font-size: 17px; text-align: justify;">The School prospectus contains all relevant and updated information. It consists of a detailed description of the facilities offered, educational methodologies, information about co-curricular activities, and more. The prospectus includes information that is of utmost importance for the to-be students and their guardians. You can download our prospectus which is available in PDF format</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 mx-auto"  data-aos="fade-up"
            data-aos-anchor-placement="center-bottom">
                <form action="" method="post" class="form-control" >
                    <div class="row my-2">
                        <div class="col-sm-12">
                    <span style="color: red; font-size: 20px;">|</span>
                    &nbsp;&nbsp;<span style="font-size: 20px;">Download Prospectus</span>
                    <br><br>
                    <input type="text" name="name" placeholder="Your Name *" class="form-control" required>
                    <br>
                    <input type="email" name="email" placeholder="Your Email *" class="form-control" required>
                    <br>
                    <input type="text" name="Phone Number" placeholder="Phone Number *" class="form-control" required>
                    <br>
                    <button class="btn btn-primary">Download PDF</button>
                    <br><br>
            </div>
        </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

  {%endblock%}
 <!-- Main End -->
</body>

</html>