
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Management Team - Seth Anandram Jaipuria School &#8211; Sadhu Campus, Barabanki</title>
    <style>
         .img-hover:hover
    {
    transform: scale(1.04);
    box-shadow: 2px 2px 15px gray;
    transition: all 0.5s ease;
    }
    </style>
</head> 
<body>
    {%extends 'parent.html'%}
    {%load static%}
    <!-- SLider Start -->
    {%block text%}
        SCHOOL MANAGEMENT TEAM </p>
        <h2 class="text-white">School Management Team</h2>
        <hr style="height: 1vh; width: 62vh; background-color: blue; opacity: 1;">
    {%endblock%}
    <!-- SLider END -->
     <!-- Body Start -->
      {%block body%}
     <div class="row">
        <div class="col-sm-10 mx-auto my-5 text-center fs-5">
            <div class="row my-5 ">
                <div class="col-sm-3  ">
                    <div class="card  img-hover" >
                        <img src="{%static 'img/founder1.jpg'%}" class="card-img-top rounded-3 "  style="border: 10px solid white; " alt="...">
                       
                      </div>
                      <p class=" pt-3 fw-bold text-primary">Shri Sadhu Ram Ji</p>
                          <p class="fw-bold">Founder</p>
                </div>
                <div class="col-sm-3 ">
                    <div class="card img-hover"  >
                        <img src="{%static 'img/founder2.jpg'%}" style="border: 10px solid white; " class="card-img-top rounded-3 " alt="...">
                       
                      </div>
                      <p class=" pt-3 fw-bold text-primary">Smt. Sushmawati Ji</p>
                          <p class="fw-bold">Founder</p>
                </div>
                <div class="col-sm-3">
                    <div class="card img-hover"  >
                        <img src="{%static 'img/Chairman.jpg'%}" class="card-img-top rounded-3 " style="border: 10px solid white; " alt="...">
                       
                      </div>
                      <p class=" pt-3 fw-bold text-primary">Er. Ajay Chaudhary</p>
                          <p class="fw-bold">Chairman</p>
                </div>
                <div class="col-sm-3">
                    <div class="card img-hover "  >
                        <img src="{%static 'img/direc.jpg'%}" class="card-img-top  rounded-2 " style="border: 10px solid white; " alt="...">
                       
                      </div>
                      <p class=" pt-3 fw-bold text-primary">Ms. Uma Chaudhary</p>
                          <p class="fw-bold">Founder</p>
                </div>
            </div>
        </div>
     </div>
     {%endblock%}
     <!-- Body End -->
</body>
</html>