<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transport &#8211; Seth Anandram Jaipuria School &#8211; Sadhu Campus, Barabanki</title>
</head>
<body>
    {%extends 'parent.html' %}
    {%load static%}

    <!-- Slider Start -->
     {%block text%}
     TRANSPORT </p>
     <h2 class="text-white">Transport</h2>
     <hr style="height: 1vh; width: 23vh; background-color: rgb(66, 142, 241);opacity: 1; border: 0px solid transparent;">
     {%endblock%}
    <!-- Slider End -->
     <!-- Main Start -->
      {%block body%}
      <div class="row my-5">
        <div class="col-sm-10 mx-auto">
            <h2 data-aos = "fade-up"><strong>TRANSPORT</strong></h2>
            <p class="text-muted text-align-justify my-3" style="font-size: 20px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 300;" >Students can avail the school transport, subject to the availability of seats. The routes of the school buses are framed keeping in mind the needs of the parents and they should consult the school transport-in-charge for details.</p>
        </div>

      </div>
      <div class="row  pb-5" style="background-color: rgb(243, 242, 242);">
        <div class="col-sm-10 mx-auto mt-5">
            <h4  data-aos = "fade-up"><b>Bus Rules</b></h4>
            <div class="rule mt-3" style="display: flex;">
                <i class="fa-regular fa-circle-check fs-3 me-3 mt-2 " style="color: #b64545;"></i>
                <p class="text-muted">Parents should not try to overtake and stop the school bus to facilitate the boarding of their wards as this endangers the safety of the bus and its occupants. This act will lead to strict disciplinary action.</p>
            </div>  
            <div class="rule mt-2" style="display: flex;">
                <i class="fa-regular fa-circle-check fs-3 me-3 " style="color: #b64545;"></i>
                <p class="text-muted">Parents are requested not to board school buses to see off or receive their wards.</p>
            </div>  
            <div class="rule mt--2" style="display: flex;">
                <i class="fa-regular fa-circle-check fs-3 me-3 mt-2 " style="color: #b64545;"></i>
                <p class="text-muted">
                    Parents should not argue with the teachers present in the bus or the conductor / driver. If there is any problem, a written communication should be forwarded to the Administrative Office</p>
            </div>   
            <div class="rule mt-2" style="display: flex;">
                <i class="fa-regular fa-circle-check fs-3 me-3 mt-2 " style="color: #b64545;"></i>
                <p class="text-muted">
                    Under no circumstances are students allowed to go behind or under the parked buses within the school campus. Students are also not allowed to sit in the parked buses during school hours.
                    </p>
            </div>  
            <div class="rule mt--2" style="display: flex;">
                <i class="fa-regular fa-circle-check fs-3 me-3 " style="color: #b64545;"></i>
                <p class="text-muted">Under no circumstances, should students touch the instrument panel of the buses.</p>
            </div>
            <div class="rule mt--2" style="display: flex;">
                <i class="fa-regular fa-circle-check fs-3 me-3 mt-3 " style="color: #b64545;"></i>
                <p class="text-muted">A student using the school bus is expected to be at the bus stop at least ten minutes before the scheduled arrival of the bus. The student has to be on the correct side of the arriving bus. The scheduled pick-up time is available with the transport-in-charge at the school. The school reserves the right to alter the timings, routes and stops as and when necessary.</p>
            </div>
            <div class="rule mt--2" style="display: flex;">
                <i class="fa-regular fa-circle-check fs-3 me-3 mt-2 " style="color: #b64545;"></i>
                <p class="text-muted">If a student misses his allotted bus he should not try to board any other bus. It is the responsibility of the parents to drop off their wards to the school. However, the student will return by the allotted bus.</p>
            </div>
            <div class="rule mt--2" style="display: flex;">
                <i class="fa-regular fa-circle-check fs-3 me-3 mt-2 " style="color: #b64545;"></i>
                <p class="text-muted">If any parent whose child is availing school transport service wishes to take their ward privately in his/her own transport, he/she has to collect the Permission Slip from the school authorities half an hour before the end of the last class.</p>
            </div>   
            <div class="rule mt--2" style="display: flex;">
                <i class="fa-regular fa-circle-check fs-3 me-3  " style="color: #b64545;"></i>
                <p class="text-muted">Students are allowed to use only the allotted bus and bus stop. No change can be allowed without prior written permission of the school.</p>
            </div>
            <div class="rule mt--2" style="display: flex;">
                <i class="fa-regular fa-circle-check fs-3 me-3  " style="color: #b64545;"></i>
                <p class="text-muted">
                    The buses will not wait for latecomers</p>
            </div>
            <div class="rule mt--2" style="display: flex;">
                <i class="fa-regular fa-circle-check fs-3 me-3 " style="color: #b64545;"></i>
                <p class="text-muted">The school will not be held responsible for any lapse in the bus services. In case of any discrepancy, parents may meet the transport-in-charge.

                </p>
            </div>
            <div class="rule mt--2" style="display: flex;">
                <i class="fa-regular fa-circle-check fs-3 me-3 mt-2 " style="color: #b64545;"></i>
                <p class="text-muted">
                    No student should come near the entry door of the bus until it comes to a complete halt. The front door of the bus is the only authorised entrance and exit.</p>
            </div>
            <div class="rule mt--2" style="display: flex;">
                <i class="fa-regular fa-circle-check fs-3 me-3 " style="color: #b64545;"></i>
                <p class="text-muted">
                    Students should stay away from the main road until the bus arrives.</p>
            </div>
            <div class="rule mt--2" style="display: flex;">
                <i class="fa-regular fa-circle-check fs-3 me-3 mt-2 " style="color: #b64545;"></i>
                <p class="text-muted">
                    All students must occupy vacant seats immediately after boarding their respective buses. Reservation of seats for co-commuters are not allowed under any circumstances.</p>
            </div>
            <div class="rule mt--2" style="display: flex;">
                <i class="fa-regular fa-circle-check fs-3 me-3 " style="color: #b64545;"></i>
                <p class="text-muted">
                    The students must make sure that the aisle of the bus is clear and school bags/other belongings are placed properly.</p>
            </div>


        </div>
      </div>
      
      {%endblock%}
     <!-- Main End -->
</body>
</html>