<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vision &  Mission &#8211; Seth Anandram Jaipuria School &#8211; Sadhu Campus, Barabanki</title>
</head>
<style>
    
</style>
<body>
    {%extends 'parent.html'%}
{%load static%}

<!-- Slider Start -->

<!-- Slider end -->

<!-- Main Start -->

{%block body%}
<div class="row py-3">
    <div class="col-sm-5 mb-5 ms-auto "  >
        <img src="{%static 'img/2.jpg'%}"  data-aos="fade-right" class="w-100"  alt="">
    </div>
    <div class="col-sm-5  my-auto me-auto" data-aos="fade-left"  >
        <p><h2 ><strong>Vision</strong></h2>
        <p class="text-muted fs-5  pt-3 lh-2" style="text-align: justify; ">We aim to nurture happy and confident children by providing child- centric learning. Our endeavor is to promote creativity, environmental sensitivity and academic excellence. We help inculcate a spirit of lifelong learning for our children to become effective change agents.</p>
        </p> 
    </div>
    <div class="row">
    <div class="col-sm-5  my-auto ms-auto" data-aos="fade-right">
        <h2 ><strong>Mission</strong></h2>
        <p class="text-muted fs-5 lh-2 pt-3" style="text-align: justify; "> We repeatedly strive towards excellence in education by adopting a holistic and dynamic curriculum and providing a safe and nurturing environment to all learners. We recognize the significance of imparting a world class educational experience that prepares children for the future. We are a school that celebrates excellence and espouses traditional Indian values in students. Our prime mission is to ensure that the children are academically proficient, responsive to Indian culture and heritage, and display a scientific temper in an environment of sharing and caring.</p>
    </div>
    <div class="col-sm-5 mb-4 me-auto">
       <img src="{%static 'img/3.jpg'%}" data-aos="fade-left"  class="w-100" alt="">
    </div>
</div>
</div>
{%endblock%}
<!-- Main  End-->
</body>
</html>
