{% extends "studentparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">Student Home</h1>            
        </div>
        <div class="col-sm-6 text-center mx-auto">
            <div class="card shadow p-3">
               <div> <i class="fa-solid fa-book"></i><span class="ms-3 fs-5 fw-bold">Subjects
            </span>
            <h2 class="text-center pt-3 text-warning">{{sub_count}}</h2>
                </div>
            </div>
        </div>
      
    </div>
    {%endblock%}